* {
   outline: 0px solid red !important;
}
*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  margin: 0px;
  box-sizing:border-box;
}

.buttons{
  display: flex;
  background-color: black;
  height: 30px;
}
.home> a:link{
    color: white;
}
.home> a:visited{
  color: yellow;
}
.about> a:link{
    color: white;
}
.about> a:visited{
  color: yellow;
}
.contact> a:link{
    color: white;
}
.contact> a:visited{
  color: yellow;
}
.home{
  padding-left: 1em;
  padding-right: 5em;
}

.about{
  padding-right: 4em;
}

.design{
  display:flex;
}

.logo > img{
  width:100px;
  height: 100px;
}
.slogan{
  width: 1345px;
  height: 30px;
  background-color: black;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: white;
  text-align: center;
}
